@{
    ViewData["Title"] = "Admin Tools";
}

<div class="text-center">
    <img class="mb-4" src="/img/Emblem.jpg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Admin Tools</h1>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a asp-action="Index" asp-controller="Book" class="btn btn-primary" type="button">Books</a>
    <a asp-action="Index" asp-controller="Category" class="btn btn-primary" type="button">Categories</a>
    <p class="mt-2 mb-2 text-center">© 2022</p>
</div>