<ul class="navbar-nav">
    @if(User.Identity?.IsAuthenticated == true)
    {
    <li class="nav-item">
        <a class="btn btn-outline-warning" href="/Account/Logout">Logout</a>
    </li>
    }
    else
    {
    <li class="nav-item">
        <a class="btn btn-outline-warning" href="/Account/Login">Login</a>
    </li>
    }
</ul>