@model IEnumerable<BookDTO>

@{
    ViewBag.Title = "Home page";
}

<h1>Found books</h1>

<div class="row mt-5 mb-2">
    @foreach(var books in Model)
    {
        @Html.Partial("_AllBooks", books)
    }
</div>