<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="login" value="SomeUser" />
		<add key="hashPassword" value="JKP1heJA+1icA7RZylawKNTXn5gdgf7g47Gjuu71DA4=" />
		<add key="saltPassword" value="Y4/wp83A4oRMdPcndphrZg==" />
		<add key="storage" value="C:\Users\a.smaliakou\Desktop\lab-03\FileStorage\Storage"/>
	</appSettings>
</configuration>